fastapi==0.111.0
uvicorn==0.29.0
pydantic==2.7.1
pydantic-settings==2.2.1
sqlalchemy==2.0.30
spotipy==2.23.0
fer==22.5.1
transformers==4.40.1
torch==2.3.0
python-multipart==0.0.9
opencv-python==4.9.0.80
tf-keras==2.16.0
tensorflow==2.16.1
moviepy<2.0.0
setuptools<70.0.0
